
.aside{
    width: 25%;
    flex-direction: column;
    .aside__publicidad__titulo{
        color: $colorTituloAside;
        font-size: 25px;
        font-weight: bold;
        margin: 25px 0 0 18px;
    }
    .aside__publicidad__img{
        width: 100%;
        margin: 15px 0 0 20px;
        .imagen-aside{
            width: map-get($imagen-aside, width);
            border-radius: map-get($imagen-aside, border-radius);
            box-shadow: map-get($imagen-aside, box-shadow);
        }
    }
}