
//Fondo pagina
$bgFondo: "../assets/img/Fondo/fondo-agua.jpg";

//Fondo contenedor padre
$bgContenedor: rgba(129, 212, 250, 0.4);

//Color menu actual
$colorActual: #a2a8ad;

//Color link a
$colorLink: #343a40;
$colorHoverLink: #6c757d;

//Color titulo aside
$colorTituloAside: #343a40;