
.main{
    width: 100%;
    height: auto;
    margin: 30px 0 0 80px;
    grid-area: main;
    .main__noticia{
        width: 70%;
        height: auto;
        margin-bottom: 30px;
        border-right: 3px solid #343a40;
        flex-direction: column;
        .inicio_titulo{
            font-size: 30px;
            margin: auto;
            margin-bottom: 10px;
        }
        .noticia__imagen{
            width: 95%;
            img{
                width: 100%;
                height: 600px;
                border-radius: 5px;
                box-shadow: 4px 4px 5px #6c757d;
            }
        }
        .noticia__articulo{
            width: 100%;
            margin: 20px 0;
            flex-direction: column;
            .noticia__titulo{
                font-size: 25px;
                margin-bottom: 10px;
            }
            .noticia__texto{
                width: 95%;
                font-size: 20px;
            }
        }
    }
}