
@media only screen and (max-width: 1250px){
// INDEX.HTML
    .main{
        margin: auto;
        flex-direction: column;
        align-items: center;
        .main__noticia{
            width: 90%;
            border-right: none;
            border-bottom: 1px solid #343a40;
            align-items: center;
            .noticia__imagen{
                width: 100%;
            }
            .noticia__texto{
                width: 100%;
            }
        }
    }
// PRODUCTO.HTML
.productos{
    width: 90%;
    border-right: none;
    border-bottom: 1px solid #343a40;
    .sub-menu{
        border-top: 1px solid #343a40;
        width: 50%;
        margin: 20px auto;
        padding-top: 10px;
        .sub-menu__nav__list{
            justify-content: center;
        }
    }
    .articulos{
        margin-bottom: 10px;
        justify-content: center;
        .producto{
            width: 42%;
        }
    }
}
// GALERIA.HTML
    .galerias{
        width: 100%;
        border: none;
        border-bottom: 1px solid #343a40;
        flex-direction: column;
        .galerias__articulos{
            width: 45%;
            margin-bottom: 10px;
            img{
                width: 100%;
            }
        }
    }
// NOSTOROS.HTML
    .nosotros{
        border-right: none;
        border-bottom: 1px solid #343a40;
        .nosotros__articulo--bottom{
            margin-bottom: 10px;
        }
    }
// CONTACTO.HTML
    .formulario{
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #343a40;   
        .formulario__form{
            width: 80%;
            .input{
                width: 100%;
            }
        }
    }
// ASIDE
    .aside{
        width: 100%;
        margin-bottom: 10px;
        flex-direction: row;
        justify-content: center;
        .aside__publicidad__titulo{
            display: none;
        }
        .aside__publicidad__img{
            width: 25%;
            img{
                width: 100%;
            }
        }
    }
// FOOTER
    .footer{
        margin-top: 10px;
        flex-direction: row;
        align-items: center;
        .footer__copyright{
            margin: 0;
            width: 50%;
        }
        p{
            margin: auto;
        }
        .footer__logos{
            width: 50%;
        }
    }
}
@media only screen and (max-width: 1050px){
// HEADER
    .header{
        flex-direction: column;
        margin-bottom: 40px;
        .header__nav{
            width: 100%;
        }
    }
// INDEX.HTML
    .noticia__imagen{
        img{
            height: 500px;
        }
    }
// NOSOTROS.HTML
    .nosotros{
        .nosotros__articulo--top{
            img{
                width: 100%;
            }
        }
        .nosotros__articulo--bottom{
            p{
                width: 100%;
            }
            img{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 831px){
// PRODUCTO.HTML
    .productos{
        .sub-menu{
            width: 70%;
        }
        .producto{
            width: 70%;
        }
    }
}
@media only screen and (max-width: 750px){
// INDEX.HTML
    .main__noticia{
        border-bottom: none;
        .noticia__imagen{
            img{
                height: 400px;
            }
        }
    }
// PRODUCTO.HTML
    .productos{
        border: none;
        .producto{
            width: 70%;
        }
    }
// GALERIA.HTML
    .galerias{
        border: none;
        .galerias__articulos{
            width: 90%;
        }
    }
// NOSOTROS.HTML
    .galerias{
        border: none;
        .galerias__articulos{
            width: 90%;
        }
    }
// CONTACTO.HTML
    .formulario{
        border: none;
        .formulario__form{
            width: 90%;
            .input{
                input{
                    width: 70%;
                }
            }
            .btn-enviar{
                width: 77%;
            }
        }
    }
// ASIDE
    .aside{
        display: none;
    }
}
@media only screen and (max-width: 615px){
// CONTENEDOR PADRE
    .contenedor-padre{
        width: 100%;
        background-color: none;
        box-shadow: none;
    }
// INDEX
    .noticia__imagen{
        img{
            height: 350px;
        }
    }
}
@media only screen and (max-width: 545px){
// HEADER
    .header{
        margin-top: 60px;
        margin-bottom: 100px;
        .nav__list{
            flex-direction: column;
            .list__item{
                width: 90%;
                border: 1px solid black;
                a{
                    margin: 5px auto;
                }
            }
        }
    }
// PRODUCTO.HTML
    .productos{
        .sub-menu{
            width: 90%;
        }
    }
}
@media only screen and (max-width: 350px){
// ASIDE
    .footer{
        flex-direction: column;
        align-items: center;
    }
}