
.grid-padre{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}
.flexbox{
    display: flex;
}

